<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="applications" style="page-break-before: always">
    <div class="my-auto">
      <h2 class="mb-5">Application Accounts</h2>
      <p>In today’s complex IT environments, scripts, processes and applications need to access various platform resources to retrieve and store sensitive information. When applications are granted use of these resources, they are usually provided with credentials for an account that has virtually unlimited access to an enterprise’s most sensitive assets. As a result, these accounts are often the victim of ongoing targeted attacks. Indeed, many of the recent sophisticated attacks reported stemmed from the compromise of hard-coded privileged credentials. Securing, managing and automatically replacing these embedded and locally stored credentials can impose significant challenges and overhead costs to IT departments. Consequently, many organizations never change hard-coded, embedded passwords or locally stored SSH keys for applications, leaving the organization vulnerable to an attack.</p>
      
        <!-- Windows SPN Section -->

        <!-- Windows Service Accounts -->

        <!-- Windows Scheduled Tasks -->

        <!-- Windows IIS Application Pools -->
        
        <!-- IIS Section -->

        <!-- WebLogic Section -->

        <!-- WebSphere Section -->

    </div>
</section>