<div class="resume-item d-flex flex-column flex-md-row mb-5">
    <div class="resume-content mr-auto">
        <h3 class="mb-0">Amazon Web Services</h3>

        <h4 class="subheading text-primary mb-3">AWS Credentials</h4>
        <div class="row">
            <div class="col-md-8">
                    <p>Amazon Web Services is one of the leading Cloud platforms, and is increasingly popular for running business workloads. The rise of cloud platforms has created opportunities for development teams to create new environments outside of the traditional 'on-premises' environment, and this often includes bypassing security controls that have been put in place to control privileged access. It is therefore critical to have an up-to-date understanding of which privileged administrator accounts exist within <insert>Customer Name</insert>'s cloud infrastructure.</p>
            </div>
            <div class="col-md-4">
                <div class="card bg-primary ml-3" style="width: 18rem;">

					<div class="card-header text-white card-title">
						<b><insert>AWS AdministratorAccess</insert> accounts with "AdministratorAccess" privileges</b>
					</div>
                    <div class="card-body">
                        <p class="card-text text-white"></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mr-5 ml-5 mt-3">
            <h4 class="mb-0 mt-3">AWS AdminstratorAccess accounts (Top 10 by Password Age)</h4>
            <insert>AWS AdministratorAccess table</insert>
        </div>
    </div>
</div>
