<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="clouddevops" style="page-break-before: always">
    <div class="my-auto">
        <h2 class="mb-5">Cloud and Devops</h2>
        <p>The Cloud represents a new frontier in IT operations, promising unlimited computing power and unparalleled access to resources. It also represents a new frontier in privileged access management, with an explosion of privileged credentials controlling access to machines, applications and services. New privileged user and machine account have proliferated across cloud environments and must be managed with all of the same rigor that should be applied to on-premises identities.</p>
        <p>Simultaneously there has been a revolution in continuously integrated and continuously delivered applications, which has greatly increased the pace at which new functionality and features can be brought to the market. Behind this lies huge improvements in automation processes, many of which rely on machine identity to deliver the change rapidly enough to users. If improperly managed machine credentials can be exploited to penetrate applications, often with very public consequences.</p>

        <p style="page-break-before: always"></p>
        <p>&nbsp;</p>
            
        <!-- AWS Section -->

        <p style="page-break-before: always"></p>
        <p>&nbsp;</p>

        <!-- Ansible Section -->
    </div>
</section>