	<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="endpoints" style="page-break-before: always">
        <div class="my-auto">
          <h2 class="mb-5">Privileged Accounts on Endpoints</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
                <p>Business user accounts with local administrator rights make it much easier for an attacker to gain a foothold in the network and steal even more powerful credentials.  Direct administrator rights on workstations, for example, means that attackers can install keystroke loggers to look for any typed passwords or run tools like mimikatz to get privileged hashes.  In addition, the attack surface is unnecessarily widened because each of these business user accounts, which should be non-privileged, has now become a privileged ID that can be exploited.</p>
            </div>
           </div>

           <p style="page-break-before: always"></p>
           <p>&nbsp;</p>

           <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Windows Devices</h3>
              <h4 class="subheading text-primary mb-3">Windows Desktop Operating System versions</h4>
              <p>As with Windows Server, the Windows desktop operating system has evolved over the years, adding security improvements with each new version. Just as with servers, organizations rarely upgrade their entire desktop estates to the latest versions available, potentially leaving behind older machines that can be exploited more readily than the latest Windows 10 edition. It is therefore important to understand the full breadth of desktop machines on the network with a view to mitigating any weaknesses in older machines, especially those with unsupported versions of Windows such as Windows XP.</p>
              <p>CyberArk DNA can detect the versions of Windows in use within the environment. The following table outlines the various different versions of Windows desktops that were detected in the <insert>Customer Name</insert> environment.</p>
              <div class="resume-content px-auto mx-auto col-md-8">
                <script type="text/javascript">
                  google.charts.load('current', {'packages':['corechart']});
                  google.charts.setOnLoadCallback(drawChart);

                  function drawChart() {

                    var data = google.visualization.arrayToDataTable([
                      ['OS Version', 'Number of Machines'],
                      <insert>WindowsDesktopDevicesList</insert>
                    ]);

										var options = {

												title: 'Windows Desktop Versions',
												titleTextStyle: {fontName: 'Ropa Sans', fontSize: '18' },
												legend: {textStyle: {
																						fontName: 'Ropa Sans',
																						fontSize: '12'
																						}
																},
												pieSliceTextStyle: {fontName: 'Ropa Sans'}

										};

                    var chart = new google.visualization.PieChart(document.getElementById('desktop-os-versions'));

                    chart.draw(data, options);
                  }
                </script>
                <div id="desktop-os-versions" style="width: 800px; height: 500px;"></div>              </div>
              </div>
          </div>

          <p style="page-break-before: always"></p>
          <p>&nbsp;</p>

          <h4 class="subheading text-primary mb-3">Local Admin accounts on desktops</h4>

          <div class="row">
            <div class="col-md-8">
              <p>As with servers, built-in local administrator accounts on desktops are often a neglected risk. With hundreds or thousands of desktops to manage, IT teams rely on their privileged domain credentials to access devices and make changes or repairs leaving built-in accounts to be forgotten. What's worse is that managing desktop local administrator passwords is even more difficult than those of servers, because many of these devices are mobile and are not guaranteed to be attached to the network at any point in time, posing a formidable challenge to automated password management solutions.</p>
              <p>Endpoints are not usually the end-goal for a determined, advanced threat actor but they are often the starting point, and poorly managed local administrator accounts - especially those where passwords are common across devices - provide a convenient and easy to exploit path to discover additional privileged accounts that can then be targeted for compromise, leading to access into more secure areas of the network. The first line of password security should therefore start on the desktop.</p>

            </div>
            <div class="col-md-4">
              <div class="card bg-primary ml-3" style="width: 18rem;">
				<div class="card-header text-white card-title">
					<b><insert>OldestEndpointLocalAdminPassword</insert> days: the maximum desktop Local Admin password age discovered</b>
				</div>
                <div class="card-body">
                    <p class="card-text text-white">Very old Local Admin passwords are indicative of a lack of password management within the environment.</p>
                </div>
            </div>
            <p>&nbsp;</p>
              <div class="card bg-primary ml-3" style="width: 18rem;">
				  <div class="card-header text-white card-title">
					<b><insert>AverageEndpointLocalAdminPassword</insert> days: the mean average desktops Local Admin password age</b>
				  </div>
                  <div class="card-body">
                      <p class="card-text text-white">A high average password age is indicative of a lack of password management within the environment</p>
                  </div>
              </div>
          </div>

          </div>
          <div class="row mr-5 ml-5 mt-3">
            <h4 class="mb-0 mt-3">Oldest Endpoint Local Admin Accounts (Top 10 by Password Age)</h4>
            <insert>OldestEndpointLocalAdminAccounts</insert>
          </div>

          <p style="page-break-before: always"></p>
          <p>&nbsp;</p>

           <h4 class="subheading text-primary mb-3">Users with Local Admin rights on desktops</h4>
          <div class="row">
            <div class="col-md-8">
              <p>Endpoints such as Windows desktops are often the first point-of-entry for attackers seeking to penetrate an organization. Desktops and laptops are the most exposed parts of the network, being operated by users who are not particularly IT-security conscious and who are the most likely to fall victim to typical exploitation tactics – phishing, malware traps, phone scams and the like. All it takes is one user to make the wrong decision, and attackers can gain access to machines.</p>
              <p>However, endpoints are not usually the end-goal for a determined, advanced threat actor. Sophisticated attackers will use a compromised endpoint as the starting point for a deeper attack that targets critical assets such as database servers which are much more likely to contain valuable data. To obtain access to this information usually requires higher than standard user privileges.</p>

            </div>
            <div class="col-md-4">
              <div class="card bg-primary ml-3" style="width: 18rem;">
                <div class="card-header text-white card-title">
					<b><insert>UsersWithLocalAdminDesktops</insert> users have Local Admin rights on desktops (not via Domain groups)</b>
				</div>
                <div class="card-body">
                    <p class="card-text text-white">The privileges of these users are difficult to manage, as they are set directly on the device in question and not centrally via Active Directory</p>
                </div>
            </div>

            </div>
          </div>


           <p>Excessive provisioning of Local Admin access to users on desktops can lead to compromise in several ways:</p>
           <ul>
             <li>Local Admins have the rights to install software – including malware</li>
             <li>They can potentially remove software that 'gets in the way' – anti-virus, for example</li>
             <li>Local Admins have access to stores of other user authentication data – such as LSASS, or cached Service Account passwords</li>
           </ul>

           <div class="row mr-5 ml-5 mt-3">
             <h4 class="mb-0 mt-3">Users with Local Admin</h4>
             <insert>Endpoint Local Admin users table</insert>
            </div>

        </div>
</section>
