<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="WindowsLocal" style="page-break-before: always">
  <div class="my-auto">
    <h2 class="mb-5">Local SuperUser Accounts</h2>
    <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <p>No less important than Domain Administrator accounts are local administrative accounts that are device specific – so-called ‘superuser’ accounts such as Windows local administrators, Unix root accounts, and sa or system accounts on database server. Although limited in scope these accounts have enormous power over these systems, and as more devices are added to a network the temptation to set a common, shared password on each of these accounts in order to simplify administration becomes very high.</p>
          <p>Shared passwords are extremely risky, because compromise of a single credential opens up the possibility that many other devices might be accessed during a breach. Remediation of this threat is also very difficult due to the disparate, de-centralized nature of these devices – without a password management solution this often requires a manual intervention by resetting these passwords on each and every system. </p>
        </div>
      </div>

    <!-- Windows Local Admin Section -->

    <!-- Unix Admin Section -->
    
    <!-- SQL Database Section -->

  </div>
</section>
