<p style="page-break-before: always"></p>
<p>&nbsp;</p>

<div class="resume-item d-flex flex-column flex-md-row">
    <div class="resume-content mr-auto">
      <h3 class="mb-0">Microsoft SQL Server Accounts</h3>

      <h4 class="subheading text-primary mb-3">Chart of MS SQL Servers</h4>
      <p>Microsoft SQL Server is one of the leading database technologies, and is widely used in the industry. As new applications are deployed within an organization, it is not uncommon to see multiple versions of SQL server deployed in order to provide supporting database services. It is also not uncommon to see these database servers going unmanaged as applications are left in place for extend periods, which can result in older versions of SQL with fewer security features remaining in the environment. Understanding which versions are present allows for each version to be managed accordingly. The following chart shows the SQL versions discovered during the DNA scan.</p>
      <div class="resume-content mr-auto ml-auto col-md-8">
        <script type="text/javascript">
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);

          function drawChart() {

            var data = google.visualization.arrayToDataTable([
              ['Database Version', 'Number of Machines'],
              <insert>DatabaseDevicesList</insert>
            ]);

            var options = {

                title: 'SQL Instance Versions',
                titleTextStyle: {fontName: 'Ropa Sans', fontSize: '18' },
                legend: {textStyle: {
                                    fontName: 'Ropa Sans',
                                    fontSize: '12'
                                    }
                        },
                pieSliceTextStyle: {fontName: 'Ropa Sans'}

            };

            var chart = new google.visualization.PieChart(document.getElementById('database-versions'));

            chart.draw(data, options);
          }
        </script>
        <div id="database-versions" style="width: 800px; height: 500px;"></div>
      </div>

      <h4 class="subheading text-primary mb-3">SQL Server Accounts</h4>
      <p>Microsoft SQL Servers support two types of authentication: SQL Server authentication, and Windows Integrated authentication. SQL Server authentication is considered to be much less secure than Windows Integrated authentication, because as part of the process for authenticating remote users the username and an encrypted copy of the password of the user are passed across the network, where they could potentially be captured in transit. In fact, client applications, if badly configured, may even transmit a plain-text password across the network during authentication. It is therefore advisable not to use SQL Server authentication for any applications, but to instead use Windows Integrated authentication which relies on the much more secure Kerberos protocol for authentication. In fact, current best practice suggests only using SQL logins for legacy applications.</p>

      <div class="row mr-5 ml-5 mt-3">
        <h4 class="mb-0 mt-3">Database SQL Login Accounts</h4>
        <insert>SQL Server users table</insert>
      </div>

      <p style="page-break-before: always"></p>
      <p>&nbsp;</p>

      <h4 class="subheading text-primary mb-3">Windows Local Accounts with SQL Rights</h4>
      <p>It is possible to configure SQL Servers to allow Windows local accounts to access database instances. However, this is generally considered to be bad practice because such users can be more difficult to manage. It is particularly bad security practice to grant Local Administrator rights to any accounts used by SQL, because such privileges are not required by the database service - least privilege should be applied in this case to prevent a successful attack on the SQL Service turning into a full compromise of the host operating system. As of SQL Server 2008, the BUILTIN\Administrators group is no longer granted the sysadmin role by default, a reflection of the growing understanding of the role that least-privilege plays.</p>
      <div class="row mr-5 ml-5 mt-3">
        <h4 class="mb-0 mt-3">Windows Local Accounts with SQL Access</h4>
        <insert>Windows Local SQL users table</insert>
      </div>

      <h4 class="subheading text-primary mb-3">Windows Domain Accounts with SQL Rights</h4>
      <p>Wherever possible Windows Domain Accounts should be used for SQL Server administration and application access. This has the advantage of relying on the robust Kerberos authentication protocol, but also it allows for centralized management of these accounts within Active Directory. However as with local accounts care should be taken not to “over-privilege” domain accounts – for example, domain accounts to be used by databases should not have Domain Administrator privileges, but should instead only be granted SQL access via a dedicated, role-specific AD group.</p>
      <div class="row mr-5 ml-5 mt-3">
          <h4 class="mb-0 mt-3">Windows Domain Accounts with SQL Access</h4>
          <insert>Windows Domain SQL users table</insert>
      </div>

    </div>
  </div>
