<p style="page-break-before: always"></p>
<p>&nbsp;</p>

<div class="resume-item d-flex flex-column flex-md-row">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Unix Accounts</h3>
          <h4 class="subheading text-primary mb-3">Unix Devices</h4>
          <p>There are many different Linux and Unix distributions available, and it is important to understand which are in use within the organization. Various distributions may be in use to meet specific organization or department requirements, leading to a large array of devices that the IT organization must be aware of and understand. Each device may have different security capabilities including vulnerabilities that need to be managed individually. The following table outlines the various versions of Linux and Unix that were discovered during the scan.</p>
          <div class="resume-content mr-auto ml-auto col-md-8">
                <script type="text/javascript">
                    google.charts.load('current', {'packages':['corechart']});
                    google.charts.setOnLoadCallback(drawChart);

                    function drawChart() {

                      var data = google.visualization.arrayToDataTable([
                        ['OS Version', 'Number of Machines'],
                        <insert>UnixDevicesList</insert>
                      ]);

                      var options = {

                          title: 'Unix Operating System Versions',
                          titleTextStyle: {fontName: 'Ropa Sans', fontSize: '18' },
                          legend: {textStyle: {
                                              fontName: 'Ropa Sans',
                                              fontSize: '12'
                                              }
                                  },
                          pieSliceTextStyle: {fontName: 'Ropa Sans'}

                      };

                      var chart = new google.visualization.PieChart(document.getElementById('unix-os-versions'));

                      chart.draw(data, options);
                    }
                  </script>
                  <div id="unix-os-versions" style="width: 800px; height: 500px;"></div>
          </div>

          <p style="page-break-before: always"></p>
          <p>&nbsp;</p>

          <h4 class="subheading text-primary mb-3">Root Accounts</h4>
          <div class="row mb-3">
              <div class="col-md-8">
                  <p>Securing root accounts is one of the fundamental steps that IT administrators must take to protect their Linux and Unix infrastructure. Various recommendations and best practice guides for securing root accounts have been published, including disabling these accounts or preventing remote access using them, but they nevertheless remain on every Unix device with the highest privileges assigned to them. They must be managed properly to prevent an external attacker or even an insider with malicious intent misusing them.</p>
                  <p>Static root accounts with shared passwords or SSH Keys offer an enticing path of least resistance for attackers. Rather than wasting time looking at non-root accounts, attackers will start by looking for weaknesses in root access because it is guaranteed to have the privileges needed to be successful.  If root accounts never change and/or share a common credential (for example to facilitate the work of the support team), an attacker has everything they need to move laterally and circumvent traditional command restrictions such as sudo.</p>
                </div>

            <div class="col-md-4">
              <!-- Cards -->
              <div class="card bg-primary ml-3" style="width: 18rem;">
                  <div class="card-header text-white card-title">
					<b><insert>OldestUnixRoot</insert> days is the oldest root account password</b>
				  </div>
                  <div class="card-body">
                      <p class="card-text text-white">A high password age is indicative of a lack of password management on Unix devices.</p>
                  </div>
              </div>

              <p>&nbsp;</p>

              <div class="card bg-primary ml-3" style="width: 18rem;">
                  <div class="card-header text-white card-title">
					<b><insert>AverageUnixRoot</insert> days is the mean average root account password age</b>
				  </div>
                  <div class="card-body">
                      <p class="card-text text-white">A high average password age is indicative of a lack of password management on Unix devices.</p>
                  </div>
              </div>

            </div>
          </div>

          <div class="row mr-5 ml-5 mt-3">
              <h4 class="mb-0 mt-3">Oldest Unix Root Accounts</h4>
              <insert>OldestUnixRootAccounts</insert>
            </div>

          <p style="page-break-before: always"></p>
          <p>&nbsp;</p>

          <h4 class="subheading text-primary mb-3">Sudo User Accounts</h4>
          <div class="row">
            <div class="col-md-8">
              <p>The sudoers configuration file attempts to restrict the execution of commands using a blacklist. However it is bad practice to use blacklists, since they are prone to human error and can be bypassed. The following table shows the top 10 accounts by password age on servers where individual users and group accounts are members of the sudoers file and are not root.</p>
            </div>
            <div class="col-md-4">
                <div class="card bg-primary ml-3" style="width: 18rem;">
					<div class="card-header text-white card-title">
						<b><insert>UsersWithSudo</insert> users have rights defined in the sudoers files of scanned machines</b>
					</div>
                    <div class="card-body">
                        <p class="card-text text-white">Each of these accounts is privileged, and should be treated as such. A centralized least-privilege model should be applied.</p>
                    </div>
                </div>


            </div>
          </div>

          <div class="row mr-5 ml-5 mt-3">
              <h4 class="mb-0 mt-3">Users with sudo rights (Top 10 by Password Age)</h4>
              <insert>UsersWithSudoTable</insert>
            </div>

        </div>
      </div>
