<p style="page-break-before: always"></p>
<p>&nbsp;</p>

<h4 class="subheading text-primary mb-3">Oracle Weblogic Applications</h4>

<div class="row">
        <div class="col-md-8">
              <p>Oracle WebLogic is a popular platform upon which to deploy J2EE applications. WebLogic has the ability to broker JDBC connections to database services on behalf of applications, but it order to facilitate this it requires credentials with which to authenticate to the server. These credentials are usually stored on the WebSphere server which, if compromised, could provide an attacker with a means to retrieve them. These credentials can then be exploited to connect to the database and extract any data that the account has access to. As with any other application credential, enforcing least-privilege policies and rotating credentials, if possible, is the standard defense against such a threat, but it is also possible to remove hard-coded credentials entirely and store them in the CyberArk Secure Vault, with programmatic retrieval via the Application Identity Manager API.</p>
        </div>
        <div class="col-md-4">
              <div class="card bg-primary ml-3" style="width: 18rem;">
					  <div class="card-header text-white card-title">
						<b><insert>WebLogic Hardcoded creds</insert> passwords within WebSphere configurations were discovered</b>
					  </div>
                      <div class="card-body">
                          <p class="card-text text-white">If any of the WebLogic application servers in the environment are compromised, these credentials could be used to authenticate to downstream systems</p>
                      </div>
                  </div>
        </div>
    </div>
    <div class="row mr-5 ml-5 mt-3">
            <h4 class="mb-0 mt-3">Hard-coded Credentials in WebLogic (Top 10 by Password Length)</h4>
            <insert>WebLogic Hardcoded creds table</insert>
        </div>
