<p style="page-break-before: always"></p>
<p>&nbsp;</p>

<h4 class="subheading text-primary mb-3">Windows Services</h4>

<div class="row">
    <div class="col-md-8">
          <p>The Windows Local Security Authority (LSA) is responsible for managing local security policy, including authenticating services. This service uses a sub-system called LSA Secrets to store encrypted credentials in the SECURITY hive of the Windows registry, which in theory protects these credentials from unauthorized access. However, the encryption keys for these passwords are also stored in LSA Secrets and can be accessed by anyone with administrative privileges on the Windows machine. With these keys, the user can then simply decrypt the credential and retrieve the plain-text password. The password for any Windows service is therefore easily accessible to anyone who obtains administrative privileges on a Windows machine.</p>
          <p>A properly designed least-privilege model is the best defense against theft of Service Account passwords. Restricting administrative privileges on Windows machines reduces the risk of these passwords being stolen in the first place, whilst a similar restriction placed on the Service Accounts themselves means that if their credentials <i>are</i> stolen, the potential impact is limited. No Service Account should ever be granted Domain Admin privileges, for example. Also, credential rotation of Service Accounts, whilst difficult to implement, ensures that attackers have a limited window of opportunity to exploit any stolen credentials before the password is changed.</p>
    </div>
    <div class="col-md-4">
          <div class="card bg-primary ml-3" style="width: 18rem;">
			  <div class="card-header text-white card-title">
				<b><insert>Windows Services Count</insert> accounts running Windows Services were discovered</b>
			  </div>
              <div class="card-body">
                  <p class="card-text text-white">If the machines hosting these tasks are compromised by someone with admin privileges, the credentials could be stolen and used to compromise further systems</p>
              </div>
          </div>

    </div>
</div>
<div class="row mr-5 ml-5 mt-3">
      <h4 class="mb-0 mt-3">Accounts running services on servers (Top 10 by Password Age)</h4>
      <insert>Windows Services</insert>
</div>
