<p style="page-break-before: always"></p>
<p>&nbsp;</p>

<div class="resume-item d-flex flex-column flex-md-row mb-5">
  <div class="resume-content mr-auto">
    <h3 class="mb-0">Windows Devices</h3>
    <h4 class="subheading text-primary mb-3">Windows Server Operating System versions</h4>
    <p>As the Windows Operating System has evolved over the years, new security features have been added that have decreased the vulnerability of the platform. However due to a variety of factors organizations rarely update their entire environment to the latest available version in a timely manner. It is important to understand the security limitations of older versions of Windows, particularly where those versions are no longer supported by Microsoft themselves, such as Server 2000 or 2003. On these platforms there are far fewer security features, and the risk of credential theft from these devices is much higher than from more modern Windows 2012 or 2016 servers.</p>
    <p>CyberArk DNA can detect the versions of Windows in use within the environment. The following table outlines the various different versions of Windows Server that were detected in the <insert>Customer Name</insert> environment.</p>
      <div class="resume-content mr-auto ml-auto col-md-8">
            <script type="text/javascript">
                google.charts.load('current', {'packages':['corechart']});
                google.charts.setOnLoadCallback(drawChart);

                function drawChart() {

                  var data = google.visualization.arrayToDataTable([
                    ['OS Version', 'Number of Machines'],
                    <insert>WindowsDevicesList</insert>
                  ]);

                  var options = {

                      title: 'Windows Server Versions',
                      titleTextStyle: {fontName: 'Ropa Sans', fontSize: '18' },
                      legend: {textStyle: {
                                          fontName: 'Ropa Sans',
                                          fontSize: '12'
                                          }
                              },
                      pieSliceTextStyle: {fontName: 'Ropa Sans'}

                  };

                  var chart = new google.visualization.PieChart(document.getElementById('server-os-versions'));

                  chart.draw(data, options);
                }
              </script>
              <div id="server-os-versions" style="width: 800px; height: 500px;"></div>
      </div>
  </div>
</div>

<p style="page-break-before: always"></p>
<p>&nbsp;</p>

<div class="resume-item d-flex flex-column flex-md-row">
  <div class="resume-content mr-auto">
    <h3 class="mb-0">Windows Local Administrator accounts</h3>
    <h4 class="subheading text-primary mb-3">Built-In Administrator Accounts</h4>
    <div class="row mb-3">
      <div class="col-md-8">
          <p>In Windows environments local Administrator accounts across both desktops and servers are often neglected. With Active Directory offering unified authentication capability across the organization, most IT Admins rely on their domain credentials to authenticate to devices. Local Admin accounts can therefore go unused for long periods of time, with the passwords remaining fixed for months or years.</p>
          <p>In some cases organizations also use the same local administrator password across most or even all of their Windows machines. This is sometimes done for simplicity’s sake, and sometimes due to the way that Windows machines are deployed using a template image. In either case it makes an attacker’s job much simpler – all they have to do is compromise one credential to get access to the majority of the Windows estate. Some organizations will rename the account in an attempt to provide some security, but this is of doubtful utility because the "SID 500" account is easily identifiable regardless of its username. Effective management of these passwords is therefore a critical part of any privilege project.</p>
      </div>
      <div class="col-md-4">
          <div class="card bg-primary ml-3" style="width: 18rem;">
			  <div class="card-header text-white card-title">
				<b><insert>OldestLocalAdminPassword</insert> days: the maximum Local Admin password age discovered</b>
			  </div>
              <div class="card-body">
                  <p class="card-text text-white">Very old local admin passwords are indicative of a lack of password management within the environment</p>
              </div>
          </div>
          <p>&nbsp;</p>
          <div class="card bg-primary ml-3" style="width: 18rem;">
			  <div class="card-header text-white card-title">
				<b><insert>AverageLocalAdminPassword</insert> days: the mean average Local Admin password age</b>
			  </div>
              <div class="card-body">
                  <p class="card-text text-white">A high average password age is indicative of a lack of password management within the environment</p>
              </div>
          </div>
      </div>
  </div>
	<div class="row mb-3">
		<div class="row mr-5 ml-5 mt-3">
		  <h4 class="mb-0 mt-3">Oldest Local Admin Accounts (Top 10 by Password Age)</h4>
		  <insert>OldestLocalAdminAccounts</insert>
		</div>
  </div>

    <p style="page-break-before: always"></p>
    <p>&nbsp;</p>

  <div class="row mb-3">
		<div class="col-md-8">
			<h4 class="subheading text-primary mb-3">Users With Local Admin Rights on Servers</h4>
			<p>In most organizations with Active Directory, domain or server administrator accounts are most commonly used for server administration. It is also possible to assign administrative rights to domain accounts directly on servers by adding them to the local Administrator group.</p>
			<p>When administrative privileges are assigned in this manner, centralized management and monitoring becomes extremely difficult. It is much more difficult to revoke administrative rights, such as when a user changes roles or leaves a business entirely.</p>
			<p>What’s worse is that these users, if compromised, could allow an attacker to escalate privilege. Local administrator accounts can be used to extract credentials and credential hashes for other accounts that have used the same server, such as a domain administrator account or a highly-privileged service account. Attackers can install keystroke loggers to look for any typed passwords or run tools like Mimikatz to obtain privileged account hashes.</p>
		</div>
		<div class="col-md-4">
			<div class="card bg-primary ml-3" style="width: 18rem;">
				<div class="card-header text-white card-title">
					<b><insert>UsersWithLocalAdmin</insert> Domain users have local admin rights granted directly on servers (not via Domain groups)</b>
				</div>
				<div class="card-body">
					<p class="card-text text-white">The privileges of these users are difficult to manage, as they are set directly on the device in question and not centrally via Active Directory</p>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>
